<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>All Chats!</h1>
    <form method="get" action="/chats/new">
        <button>New Chat</button>
    </form>
    <br>
    <% for(chat of chats) { %>
        <div class="chat">
            <p>From: <i> <%= chat.from %> </i></p>
            <div class="mssg">
                <p><%=  chat.msg %></p>
                <form method="get" action="/chats/<%= chat._id %>/edit">
                    <button>Edit</button>
                </form>
                <br>
                <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button>Delete</button>
                </form>
            </div>
            <p>Recived by: <i> <%= chat.to %> </i></p>
            <hr>
            <%= chat.created_at.toString().split(" ")[4] %><br>
            <%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %> <br>
        </div>
        <br><br>
    <% } %>
</body>
</html>

